<div class="footer">
  <div class="footer_agile_inner_info_w3l">
    <div class="col-md-3 footer-left">
      <h2><a href="index.html"><span>SBZ</span> Market </a></h2>
      <p>SUIVEZ-NOUS !</p>
      <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
        <li><a href="#" class="facebook">
          <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
        <li><a href="#" class="twitter">
          <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
        <li><a href="#" class="instagram">
          <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
        <li><a href="#" class="pinterest">
          <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
          <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
      </ul>
    </div>
    <div class="col-md-9 footer-right">
      <div class="sign-grds">
        <div class="col-md-4 sign-gd">
          <h4>NOS <span>INFORMATIONS</span> </h4>
          <ul>
            <li><a routerLink="">Acceuil</a></li>
            <li><a routerLink="clothes">Vêtements</a></li>
            <li><a routerLink="HighTec">High-Tec</a></li>
            <li><a routerLink="beauty">Beauté</a></li>
            <li><a routerLink="">Bijoux</a></li>
            <li><a routerLink="">Voyages</a></li>
            <li><a routerLink="">Billetterie</a></li>

          </ul>
        </div>

        <div class="col-md-5 sign-gd-two">
          <h4>Contact <span>Information</span></h4>
          <div class="w3-address">
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Téléphone</h6>
                <p>+555 558 7885</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Addresse E-mail</h6>
                <p>Email :<a href="mailto:example@email.com">  sbzMarket@contact.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Emplacement</h6>
                <p>France

                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 sign-gd flickr-post">
          <h4>ACHAT_<span>SECURISE</span></h4>
          <ul>
            <li>
              <a href="#">
                <img class="h-size2" src="assets/images/mastercard.png" alt="IMG-MASTERCARD">
              </a>
            </li>

            <li>
              <a href="#">
                <img class="h-size2" src="assets/images/express.png" alt="IMG-EXPRESS">
              </a>
            </li>

            <li>
              <a href="#">
                <img class="h-size2" src="assets/images/paypal.png" alt="IMG-PAYPAL">
              </a>
            </li>

            <li>
              <a href="#">
                <img class="h-size2" src="assets/images/visa.png" alt="IMG-VISA">
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="agile_newsletter_footer">
      <div class="col-sm-6 newsleft">
        <h3>PARRAINEZ VOS AMIS !</h3>
      </div>
      <div class="col-sm-6 newsright">
        <form action="#" method="post">
          <input type="email" placeholder="Email de votre ami(e)" name="email" required="">
          <input type="submit" value="Parrainez">
        </form>
      </div>

      <div class="clearfix"></div>
    </div>

    <p class="copy-right">&copy; 2018 SBZ Market. Tous les droits sont réservés</p>
  </div>
</div>