
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="title">ENTRER EN CONTACT</h4>
        <p class="question">Vous avez des questions? <br>Appeler +555 558 7885</p>

        <ul class="social-icon">
          <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>

        </ul>
      </div>
      <div class="col-sm-3">
        <h4 class="title">MON COMPTE</h4>
        <span class="acount-icon">
            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i>Panier</a>
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profil</a>
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i>langue</a>
          </span>
      </div>

      <div class="col-sm-3">
        <h4 class="title">CATEGORIES</h4>
        <div class="category">
          <a href="#">Vêtements</a>
          <a href="#">High-Tec</a>
          <a href="#">Bijoux</a>
          <a href="#">Voyages</a>
          <a href="#">Billetterie</a>
          <a href="#">Beauté et Parfum</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h4 class="titlePayment">ACHAT 100% SECURISE</h4>
        <p></p>
        <ul class="payment">
          <li>
            <a href="#">
            <img class="h-size2" src="assets/images/mastercard.png" alt="IMG-MASTERCARD">
            </a>
          </li>

          <li>
            <a href="#">
            <img class="h-size2" src="assets/images/express.png" alt="IMG-EXPRESS">
            </a>
          </li>

          <li>
            <a href="#">
            <img class="h-size2" src="assets/images/paypal.png" alt="IMG-PAYPAL">
            </a>
          </li>

          <li>
            <a href="#">
            <img class="h-size2" src="assets/images/visa.png" alt="IMG-VISA">
            </a>
          </li>

        </ul>
      </div>
    </div>
    <hr>

    <div class="copy"> Copyright © 2018 All rights reserved. | SBZ.Market</div>
  </div>


</footer>

