
.footer {
  padding: 50px 0 20px 0;
  background-color: #1E1E27;
  color: #878c94;
}
.footer .title{
  text-align: left;
  color:#b5aec4;
  font-size:15px;
}
.footer .titlePayment{
  margin-left:60px;
  color: #b5aec4;
  font-size:15px;
}
.footer .social-icon{
  padding:0px;
  margin:0px;
}
.footer .social-icon a:hover{
  color: #000000;
}
.footer .social-icon a{
  display:inline-block;
  color:#f61073;
  font-size:25px;
  padding:5px;
  margin-top: 15px;
}
.footer .acount-icon a{
  display:block;
  color:#9fcdff;
  font-size:13px;
  padding:5px;
  text-decoration:none;
}
.footer .acount-icon .fa{
  margin-right:25px;
}


.footer .category a:hover{
  background-color: #f61073;
  color: #fff;
}
.footer .category a {
  text-decoration: none;
  color: #f61073;
  display: inline-block;
  padding: 5px 20px;
  border-radius:6px;
  margin-top: 6px;
  background-color: #ffffff;
  border: solid 1px #1E1E27;


}

.footer .payment{
  margin-left:70px;
  padding:0px;
  list-style-type:none;
}
.footer .payment li{
  list-style-type:none;
}
.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  float: left;
  font-size: 25px;
  padding: 3px 3px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}
.footer .copy{
  text-align: center;
}
.footer .question{
  color: #878c94;
}