#menu {
  font-family: 'Merriweather Sans', sans-serif;
  opacity: 0.9;
}
#menu-list-item{
  height: 70px;
}
#menu-list-item ul li a
{
  font-size: 15px;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}
#menu-list-item ul li a:hover{
  font-size: 20px;
}
#menu.navbar-default .navbar-brand {
  color: rgba(0, 0, 0, 1);
}
#menu.navbar-default {
  font-size: 18px;
  background-color: rgba(249, 249, 249, 1);
  border-top-width: 2px;
  border-color:#56AED4 ;
}
#menu.navbar-default .navbar-nav>li>a {
  color: #000;
  background-color: rgba(248, 248, 248, 0);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(245, 245, 245, 1);
  background-color: rgba(86, 174, 212, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(86, 174, 212, 1);
}
#menu.navbar-default .navbar-toggle {
  border-color: #56aed4;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
  background-color: #56aed4;
}
#menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #56aed4;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #f9f9f9;
}