<nav class=" navbar navbar-default " id="menu">
    <div class="container-fluid">
        <!-- the navbar header-->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">

            </a>
            <button type="button" class="navbar-toggle" data-target="#menu-list-item" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- the collapsebale object-->
        <div class="navbar-collapse collapse" id="menu-list-item">
            <ul class="nav navbar-nav ">

                <li class="active" routerLinkActive="active">
                    <a routerLink="home"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li ><a  href="#">Vêtements</a></li>
                <li ><a href="#">High-Tec</a></li>
                <li ><a href="#">Beauté et Parfum</a></li>
                <li ><a href="#">Bijoux</a></li>
            </ul>

        </div>
    </div>
</nav>