
    <div class="container" style="margin-top: 50px;" align="center">
<div class="row" >
    <div class=" col-md-4">
        <div id='carousel-custom' class='carousel slide ' data-ride='carousel'>
            <div class='carousel-outer'>
                <div class='carousel-inner ' >
                    <ng-container *ngFor="let image of product.images; let i = index;">
                        <div class='item active ' *ngIf="i===0">
                            <img [src]="url+image.name" data-imagezoom="true" >
                        </div>

                        <div class='item' *ngIf="i>0">
                            <img [src]="url+image.name" data-imagezoom="true" class="img-responsive">
                        </div>
                    </ng-container>
                    <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                        <span class='glyphicon glyphicon-menu-left'></span>
                    </a>
                    <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                        <span class='glyphicon glyphicon-menu-right'></span>
                    </a>
                </div>

            </div>

            <ol class='carousel-indicators mCustomScrollbar meartlab' >
                <ng-container *ngFor="let image of product.images; let i = index;">
                    <li data-target='#carousel-custom' [attr.data-slide-to]='i' class='active' *ngIf="i===0">
                        <img [src]="url+image.name" alt='' />
                    </li>

                    <li  data-target='#carousel-custom' [attr.data-slide-to]='i' *ngIf="i>0">
                        <img [src]="url+image.name" alt='' />
                    </li>
                </ng-container>

            </ol>
        </div>
    </div>





    <div class="col-md-8 single-right-left simpleCart_shelfItem">
        <h3>{{product.product_name}}</h3>
        <p><span class="item_price">{{product.price}}€</span> <del>- $900</del></p>
        <div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked="">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
        </div>
        <div class="description">
            <h5>Check delivery, payment options and charges at your location</h5>
            <form action="#" method="post">
                <input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
                <input type="submit" value="Check">
            </form>
        </div>
        <div class="color-quality">
            <div class="color-quality-right">
                <h5>Quantité :</h5>
                <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null">1 </option>
                    <option value="null">2 </option>
                    <option value="null">3 </option>
                    <option value="null">4 </option>
                    <option value="null">5 </option>
                </select>
            </div>
        </div>
        <div class="occasional">
            <h5>Types :</h5>
            <div class="colr ert">
                <label class="radio"><input type="radio" name="radio" checked=""><i></i>Taille</label>
            </div>
            <div class="colr">
                <label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
            </div>
            <div class="colr">
                <label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="occasion-cart">
            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                    <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Wing Sneakers">
                        <input type="hidden" name="amount" value="650.00">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                    </fieldset>
                </form>
            </div>

        </div>
        <ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
            <li class="share">Share On : </li>
            <li><a href="#" class="facebook">
                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
            <li><a href="#" class="twitter">
                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
            <li><a href="#" class="instagram">
                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
            <li><a href="#" class="pinterest">
                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
        </ul>

    </div>
    </div>

</div>
    <br>
    <app-horizontal-tab [description]="product.product_details"></app-horizontal-tab>
