<!--<div class="container-fluid" style="margin-top: 50px;" >
  <h4 class="white-w3ls">Mes   <span>commandes</span></h4>
  <hr>
  <div class="row">
    <div class="col-xs-12" style="">
      <div class="panel panel-default list-group-panel">
        <div class="panel-body">
          <ul class="list-group list-group-header">
            <li class="list-group-item list-group-body">
              <div class="row">
                <div class="col-xs-3 text-left" style="color: #2fdab8"><b>Etat</b></div>
                <div class="col-xs-2" style="color: #2fdab8"><b>Date commande</b></div>
                <div class="col-xs-2" style="color: #2fdab8"><b>Montant</b></div>
                <div class="col-xs-2" style="color: #2fdab8"><b>Date livraison</b></div>
              </div>
            </li>
          </ul>
          <ul class="list-group list-group-body" style="">
            <li class="list-group-item">
              <div class="row">
                <div *ngFor="let order of orders; let i = index;" class="col-md-12">
                    <div class="col-xs-3 text-left" style=" ">{{order.status}}</div>
                    <div class="col-xs-2" style="">{{order.order_date|date:'dd/MM/yyyy'}}</div>
                    <div class="col-xs-2" style="">{{order.amount}} €</div>
                    <div class="col-xs-2" style="">{{order.delivery_date|date:'dd/MM/yyyy'}}</div>
                    <div class="col-xs-offset-10" >
                      <button id="cancel-btn" (click)="onDelete(order.id)" *ngIf="order.status == 'En attente'">annuler</button>
                    </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--<div class="container" id="main">
  &lt;!&ndash;<h2 class="pink" *ngIf="total !=0">Mes Commandes</h2>
  <h4 class="pink" *ngIf="total ==0" align="center">Votre panier est vide pour le moment.</h4>
  <hr>&ndash;&gt;
  <div class="card shopping-cart" >
    <div class="card-body">
      &lt;!&ndash; PRODUCT &ndash;&gt;
      <div class="row" *ngFor="let product of products">
        <div class="col-12 col-sm-12 col-md-2 text-center" >
          <img class="img-responsive" [src]="product.images[0].name" class="product-image" alt="prewiew" width="90" >
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>{{product.product_name}}</strong></h4>
          <p >{{product.size}}</p>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>{{product.price}} €</strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus" (click)="onAdd(product.id,product.price)" [disabled]="product.quantity>10">
              <input type="text" step="1" max="10" min="1" [value]="product.quantity" title="Qty" class="qty"
                     size="4"  disabled>
              <input type="button" value="-" class="minus" (click)="onDecrease(product.id,product.price)" [disabled]="product.quantity<2">
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs" (click)="openModal(template)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <ng-template #template>
          <div class="modal-content " >
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="icon-box" >
                <b style="color:green;font-size: 46px;">!</b>
              </div>
              <h4 class="modal-title">Êtes-vous sûr ?</h4>
            </div>
            <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide()"><span class="fa fa-close" > </span> Annuler</button>
            <button class="btn btn-success" type="submit" (click)="onDelete(product.id, product.price)"><span class="fa fa-check-circle"> </span> Confirmer</button>
          </div>
        </ng-template>

      </div>
      <hr>
      <br>
      &lt;!&ndash; END PRODUCT &ndash;&gt;
    </div>
    <div class="card-footer">
      <div class="pull-right" style="margin: 10px">
        <a  class="btn btn-success pull-right" routerLink="/address" *ngIf="total !== 0">Valider</a>
        <div class="pull-right" style="margin: 5px">
          TOTAL: <b class="pink">{{total}} €</b>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div *ngFor="let order of orders">
    order id: {{order.id}}
    <div *ngFor="let item of order.items">
    item product: {{item.product}}
</div>
</div>

<div *ngFor="let product of products">
    product id: {{product.id}}
</div>