<div class="header" id="home">
    <div class="container">
        <ul>
            <li> <a routerLink="auth"  *ngIf="!isAuth"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Se connecter </a></li>
            <li> <a routerLink="signup" *ngIf="!isAuth" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> S'inscrire </a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> Appel : +555 558 7885</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a >contact@sbzmarket.com</a></li>
        </ul>
    </div>
</div>
<!-- //header -->
<!-- header-bot -->

<div class="header-bot" >
    <div class="header-bot_inner_wthreeinfo_header_mid">

        <div class="col-md-4 logo_agile">
            <h1><a href="#">S<span>B</span>Z Market</a></h1>
        </div>

        <!-- header-bot -->

        <div class="col-md-4 header-middle ">
            <form action="#" method="post">
                <input type="search" name="search" placeholder="Rechercher une marque, un article, une vente..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 agileits-social top_content">
            <ul class="icon-list">
                <div class="dropdown">
                    <li *ngIf="isAuth" >
                        <a href=""><i class="fa fa-users" aria-hidden="true"></i></a></li>
                        <div class=" dropdown-content">
                            <p class="gras textfield">Parrainez et gagnez  12 €</p>
                        <div class="textfield">
                            <form>
                            <div class="form-group-sm">
                                <input type="email" class="form-control" id="email" placeholder="Email de votre ami(e)">
                                <input type="button"  id="btn-parrainage" value="Parrainez" class="center-block">
                            </div>
                        </form>
                        <hr>
                        <a routerLink=""> <i class="fa fa-users" aria-hidden="true"></i>  Mon espace parrainage</a>
                        <br>
                    </div>
                    </div>
                </div>
                <div class="dropdown">
                    <li *ngIf="isAuth"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a> </li>
                    <div class="dropdown-content ">
                        <a routerLink="orders"><i class="fa fa-list" aria-hidden="true"></i>  Mes Commandes</a>
                      <!--  <a href="#"><i class="fa fa-tag" aria-hidden="true"></i>  Mes Avantages</a>-->
                        <a routerLink="profile"><i class="fa fa-user" aria-hidden="true"></i> Mon Profil</a>
                        <a (click)="onLogOut()"><i class="fa fa-power-off" aria-hidden="true"></i>  Déconnexion</a>
                    </div>
                </div>
                <li class="checkout">
                    <a routerLink="basket">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span id="checkout_items" class="checkout_items">{{itemCount }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li  routerLinkActive="active" class="active menu__item menu__item--current">
                                <a class="menu__link" routerLink=""><i class="fa fa-home" style="font-size: large;"></i>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class=" menu__item"><a routerLink="clothes" class="menu__link" >Vêtements</a></li>
                            <li class=" menu__item"><a routerLink="HighTec" class="menu__link" >High-Tec</a></li>
                            <li class=" menu__item"><a routerLink="beauty" class="menu__link" >Beauté et Parfum </a></li>
                            <li class=" menu__item"><a class="menu__link" routerLink="jewelry" >Bijoux</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
