<div class="container" align="center">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" >
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-align-center"></i>  <span >Description</span>
            </a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="home" [innerHTML]="description"></div>



        </div>
      </div>
    </div>
  </div>
</div>
