<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box" >
          <b style="color:green;font-size: 46px;">!</b>
        </div>
        <h4 class="modal-title">Êtes-vous sûr ?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info " data-dismiss="modal"><span class="fa fa-close"> </span> Quitter</button>
          <button class="btn btn-success" type="submit" ><span class="fa fa-check-circle"> </span> Confirmer</button>
      </div>
    </div>
  </div>
</div>