
<div class="container-fluid" align="center" style="margin-top: 50px;">
  <div class="pave_940">
    <div class="pave_m">
      <div class="accueil_vente__bloc_visuel" [style.background-image]="'url(' + url+brand.brand_image.name+ ')'" >
        <a class="accueil_vente_picture" href="#"></a>
        <div class="accueil_vente__arbo">
          <ul class="accueil_vente__liste_arbo">
            <li class="accueil_vente_logo">
              <img id="cph_middle_SaleContainer_ctl00_ImgLogo" [src]="url+brand.logo.name" alt="" width="150">
            </li>
            <li *ngFor="let category of brand.categories; let i = index;">
              <a [routerLink]="[category.id]" *ngIf="category.deleted ===false">{{ category.name }}<span class="link-inner">›</span></a>
            </li>
            <li>
              <a routerLink="all">Voir tous les produits <span class="link-inner">›</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-horizontal-tab [description]="brand.description"></app-horizontal-tab>
