<!--breadcrump start-->
<div class="row bs-wizard" style="border-bottom:0;">

  <div class="col-xs-3 bs-wizard-step complete">
    <div class="text-center bs-wizard-stepnum">Mon panier</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a  class="bs-wizard-dot"></a>

  </div>

  <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
    <div class="text-center bs-wizard-stepnum">Livraison</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>

  <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
    <div class="text-center bs-wizard-stepnum">Paiement</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>

  <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
    <div class="text-center bs-wizard-stepnum">Confirmation</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>
</div>
<!--breadcrump end-->

<!--form Start-->

<div class="content">
    <form method="post" action="#" class="forms">
        <div class="row">
            <h2>CREATION D'UNE ADRESSE DE LIVRAISON</h2>
            <br>
            <h3>Informations</h3>
            <div class="col _s12 _m6">
                <label>Prénom* :
                    <input class="input_1" type="text" name="f-name" placeholder="" >
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>
            </div>
            <div class="col _s12 _m6">
                <label>Nom* :
                    <input class="input_1" type="text" name="f-name" placeholder="" required>
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>
            </div>
            <div class="col _s12 _m12">
                <label>Télephone* :
                    <input class="input_1" type="number" name="f-email" placeholder="">
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <h3>Adresse de livraison</h3>
            <div class="col _s12 _m12">
                <label>Donner un nom à cette adresse* :
                    <input class="input_1" type="text" name="f-email" placeholder="Bureau, maison ...">
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>
            </div>
            <div class="col _s12 _m12">
                <label>Adresse* :
                    <input class="input_1" type="text" name="f-email" placeholder="Rue, numéro, étage,...">
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>

            </div>
            <div class="col _s12 _m6">
                <label>Code postal* :
                    <input class="input_1" type="number" name="f-email" placeholder="12345">
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>
                </label>
            </div>
            <div class="col _s12 _m6">
                <label>Ville* :
                    <input class="input_1" type="text" name="f-email" placeholder="Ville">
                    <span class="grey-line"></span>
                    <span class="blue-line"></span>

                </label>
            </div>

            <div class="col _s12 _m12">
                <label>Pays* :
                    <SELECT name="nom" size="1">
                        <OPTION>France
                    </SELECT>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="r-field col _s12 _m12">
                <p>* Champs obligatoires</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-8">
                <a href="#" class="button">Valider cette adresse</a>
            </div>
        </div>
    </form>
</div>

