<div class="container">


    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Mon panier</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a  class="bs-wizard-dot"></a>

        </div>

        <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Livraison</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Paiement</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Confirmation</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>

</div>



<!--basket-->
<div class="container" id="main">
    <h2 class="pink">Mon Panier</h2>
    <hr>
    <div class="card shopping-cart" >

        <div class="card-body">
            <!-- PRODUCT -->
            <div class="row" *ngFor="let product of products">
                <div class="col-12 col-sm-12 col-md-2 text-center" >
                    <img class="img-responsive" [src]="product.image" class="product-image" alt="prewiew" width="90" >
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name"><strong>{{product.product_name}}</strong></h4>
                    <p >{{product.size}}</p>

                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong>{{product.price}} €</strong></h6>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="quantity">
                            <input type="button" value="+" class="plus" (click)="onAdd(product.id,product.price)" [disabled]="product.quantity>10">
                            <input type="text" step="1" max="10" min="1" [value]="product.quantity" title="Qty" class="qty"
                                   size="4"  disabled>
                            <input type="button" value="-" class="minus" (click)="onDecrease(product.id,product.price)" [disabled]="product.quantity<2">
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 text-right">
                        <button type="button" class="btn btn-outline-danger btn-xs" (click)="openModal(template)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <ng-template #template>
                    <div class="modal-content " >
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="icon-box" >
                                <b style="color:green;font-size: 46px;">!</b>
                            </div>
                            <h4 class="modal-title">Êtes-vous sûr ?</h4>
                        </div>


                            <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide()"><span class="fa fa-close" > </span> Quitter</button>
                            <button class="btn btn-success" type="submit" (click)="onDelete(product.id, product.price)"><span class="fa fa-check-circle"> </span> Confirmer</button>

                    </div>
                </ng-template>

            </div>
            <hr>
            <br>
            <!-- END PRODUCT -->


        </div>
        <div class="card-footer">

            <div class="pull-right" style="margin: 10px">
                <a  class="btn btn-success pull-right" routerLink="/address" *ngIf="total !== 0">Valider</a>
                <div class="pull-right" style="margin: 5px">
                    TOTAL: <b class="pink">{{total}} €</b>
                </div>
            </div>
        </div>
    </div>
</div>


