<div class="col-md-4 product-men">
    <div class="men-pro-item simpleCart_shelfItem" style="min-height:450px;">
        <div class="men-thumb-item">
            <img [src]="url+images[0].name" alt="" class="pro-image-front">
            <img [src]="url+images[0].name" class="pro-image-back">
            <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                    <a [routerLink]="[id]" class="link-product-add-cart">Afficher</a>
                </div>
            </div>
            <span class="product-new-top">-20%</span>

        </div>
        <div class="item-info-product ">
            <h4><a [routerLink]="[id]">{{productName}}</a></h4>
            <div class="info-product-price">
                <span class="item_price">{{price}} €</span>
                <del>{{price}} €</del>
            </div>


            <span *ngIf="sizes.length>0">
                    <p >Taille :</p>
                    <select  >
                        <option value="{{size.size}}" *ngFor="let size of sizes; let i = index;">
                            {{size.size}}
                        </option>
                    </select>
                </span>



            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

            <input type="submit" name="submit" value="Ajouter au panier" class="button" (click)="onAdd(id,price,productName,url+images[0].name)" *ngIf="!selected">

            <input type="submit" name="submit" value="Supprimer" class="button" (click)="onDelete(id,price)" *ngIf="selected">

            </div>
        </div>
    </div>
</div>
