<!--breadcrump start-->
<div class="row bs-wizard" style="border-bottom:0;">

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">Mon panier</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a  class="bs-wizard-dot"></a>

    </div>

    <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Livraison</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Paiement</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
        <div class="text-center bs-wizard-stepnum">Confirmation</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
</div>
<!--breadcrump end-->
<div class="container" style="margin-top: 50px;" >
    <h4 class="white-w3ls">Mes   <span>Livreurs</span></h4>
    <hr>
    <div class="row">
        <div class="col-xs-12" style="">
            <div class="panel panel-default list-group-panel">
                <div class="panel-body">
                    <ul class="list-group list-group-header">
                        <li class="list-group-item list-group-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-xs-3 text-left" style="color: #2fdab8"><b>Nom</b></div>
                                <div class="col-lg-2 col-md-2 col-xs-2" style="color: #2fdab8"><b>Prix</b></div>
                                <div class="col-lg-2 col-md-2 col-xs-2" style="color: #2fdab8"><b>Adresse</b></div>
                                <div class="col-lg-2 col-md-2 col-xs-2" style="color: #2fdab8"><b>Délai</b></div>

                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-body" style="">
                        <li class="list-group-item">
                            <div class="row">
                                    <div class="row" *ngFor="let delev of delivery; let i = index;">
                                        <div class="col-xs-3 text-left" style="margin-left: 10px;" *ngIf="i==0">
                                            <input type="radio" name="delivery" class="pink" (click)="onChecked(delev.id)" checked >&nbsp;{{delev.name}}
                                        </div>
                                        <div class="col-xs-3 text-left" style="margin-left: 10px;" *ngIf="i>0">
                                            <input type="radio" name="delivery" class="pink" (click)="onChecked(delev.id)"  >&nbsp;{{delev.name}}
                                        </div>
                                        <div class="col-xs-2 text-left">
                                            <h6><strong>{{delev.price}} €</strong></h6>
                                        </div>
                                        <div class="col-xs-2 text-left">
                                            <h6><strong>{{delev.address}} </strong></h6>
                                        </div>
                                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                                <h6><strong>{{delev.delivery_time}} jour</strong></h6>
                                        </div>
                                    </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--payment form -->
<div class="container">
    <div class="page-header">
        <h1 class="text-center">Paiement  <small>par carte de crédit</small></h1>
    </div>
    <!-- Credit Card Payment Form - START -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="text-center">Paiement</h3>
                            <img class="img-responsive cc-img" src="assets/images/creditcardicons.png">
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>NUMÉRO DE CARTE</label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="NUMÉRO DE CARTE" />
                                            <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">DATE D'EXPIRATION</span> </label>
                                        <input type="tel" class="form-control" placeholder="MM / YY" />
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label>CV CODE</label>
                                        <input type="tel" class="form-control" placeholder="CVC" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>PROPRIÉTAIRE DE LA CARTE</label>
                                        <input type="text" class="form-control" placeholder="PROPRIÉTAIRE DE LA CARTE" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  btn-lg btn-block payment-btn" routerLink="/confirmation" >PAYER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Credit Card Payment Form - END -->
</div>
