<!--breadcrump start-->
<div class="row bs-wizard" style="border-bottom:0;">

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">Mon panier</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a  class="bs-wizard-dot"></a>

    </div>

    <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Livraison</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Paiement</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
        <div class="text-center bs-wizard-stepnum">Confirmation</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
</div>
<!--breadcrump end-->




<div class="container" id="main">
    <h2 class="pink">Livreurs</h2>
    <hr>
    <div class="card shopping-cart">

        <div class="card-body" >
            <form action="">


            <div class="row" *ngFor="let delev of delivery; let i = index;">

                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6"  style="margin-top: 10px;">

                   <input type="radio" name="delivery" class="pink" (click)="onChecked(delev.id)">&nbsp;{{delev.name}}

                    <p >{{delev.address}}</p>

                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong>{{delev.price}} €</strong></h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong>{{delev.delivery_time}} jour</strong></h6>
                    </div>
                </div>


        </div>
                <hr>
            </form>
    </div>

</div>

</div>







<a routerLink="/confirmation">payer</a>