<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile-contact-grids">
            <div class="agile-contact-left">
                <div class="col-md-6 address-grid">
                    <div class="mail-agileits-w3layouts">
                        <h4>Informations <span>enregistrées</span></h4><br>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Vous avez déménagé ou vous souhaitez <br>changer votre mot de passe...</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Faites les modifications dans <br>les champs ci-dessous votre <br> compte sera immédiatement mis à jour.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Votre mot de passe doit comporter <br>au minimum 8 caractères (dont 1 <br> lettre et 1 chiffre)</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 contact-form">
                    <h4 class="white-w3ls">Mes   <span>coordonnées</span></h4>
                    <form  [formGroup]="customerForm" (ngSubmit)="onSubmitForm()">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" id="name" placeholder="Prénom" formControlName="name">
                            <p class="error_message" *ngIf="customerForm.get('name').invalid">Veuillez fournir au moins 3 caractères.</p>
                            <label  for="name">Prénom* :</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" id="family-name" placeholder="Nom" formControlName="familyName">
                            <p class="error_message" *ngIf="customerForm.get('familyName').invalid">Veuillez fournir au moins 3 caractères.</p>
                            <label for="family-name">Nom* :</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="date" id="birthDate" placeholder="Date de naissance" formControlName="birthDate">
                            <label  for="birthDate">Date de naissnace* :</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="number" id="tel" placeholder="Numéro de téléphone" formControlName="phoneNumber">
                            <label for="tel">Numéro de télephone* :</label>
                            <span></span>
                        </div>

                        <input type="submit" value="Modifier" [disabled]="customerForm.invalid">
                    </form>
                </div>





                <div class="col-md-6 contact-form">
                    <h4 class="white-w3ls">Mon adresse  <span>Email</span></h4>

                    <form  [formGroup]="emailForm" (ngSubmit)="onSubmitEmailForm()">

                        <div class="styled-input agile-styled-input-top">
                            <input type="email" id="email" placeholder="" formControlName="email" >
                            <label for="email">Email* :</label>
                            <span></span>
                        </div>




                        <div class="styled-input agile-styled-input-top">
                            <input type="email" id="newEmail" placeholder="" formControlName="newEmail">
                            <p class="error_message" *ngIf="emailForm.get('newEmail').invalid">Veuillez fournir un email valide.</p>
                            <label for="email">Nouveau Email* :</label>
                            <span></span>
                        </div>

                        <div class="styled-input">
                            <input type="email" name="Email" formControlName="confirmEmail">
                            <p class="error_message" *ngIf="emailForm.hasError('nomatch')">les 2 emails ne sont pas identiques .</p>

                            <label>Confirmer* :</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" formControlName="password" (input)="onchange()">
                            <p>{{msg}}</p>
                            <label>Mot de passe * :</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Modifier" [disabled]="emailForm.invalid || msg !== ''">
                    </form>
                </div>




                    <div class="col-md-6 contact-form">
                        <h4 class="white-w3ls">Mon mot de   <span>passe</span></h4>
                        <form  [formGroup]="pwdForm" (ngSubmit)="onSubmitPwdForm()">

                            <div class="styled-input agile-styled-input-top">
                                <input type="password" name="pwd" (input)="onPwdchange()" formControlName="password">
                                <label>Ancien mot de passe* :</label>
                                <p>{{msgPwd}}</p>
                            </div>

                            <div class="styled-input">
                                <input type="password" name="pwd" formControlName="newPassword">
                                <label>Nouveau mot de passe* :</label>
                                <span></span>
                            </div>

                            <div class="styled-input">
                                <input type="password" formControlName="confirmPwd">
                                <label>Confirmer* :</label>
                                <p class="error_message" *ngIf="pwdForm.hasError('nomatch')">les 2 mot de passe  ne sont pas identiques .</p>

                            </div>

                            <input type="submit" value="Modifier" [disabled]="pwdForm.invalid || msgPwd !== ''">
                        </form>
                        <br>
                        <br>
                        <div  style="float: right;">
                            * champs obligatoires
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>