<div class="middleBar">
  <div class="container">
    <div class="row display-table">
      <div class="col-sm-3 vertical-align text-left hidden-xs">
        <a href="#"> <img width="200" src="/assets/images/logo.png" alt=""></a>
      </div>
      <!-- end col -->
      <div class="col-sm-7 vertical-align text-center">
        <form>
          <div class="row grid-space-1">
            <div class="col-sm-6">
              <input type="text" name="keyword" class="form-control input-lg" placeholder="Recherche">
            </div>
            <!-- end col -->
            <div class="col-sm-3">
              <select class="form-control input-lg" name="category">
                <option value="all">All Categories</option>
                <optgroup label="Mens">
                  <option value="shirts">Shirts</option>
                  <option value="coats-jackets">Coats & Jackets</option>
                  <option value="underwear">Underwear</option>
                  <option value="sunglasses">Sunglasses</option>
                  <option value="socks">Socks</option>
                  <option value="belts">Belts</option>
                </optgroup>
                <optgroup label="Womens">
                  <option value="bresses">Bresses</option>
                  <option value="t-shirts">T-shirts</option>
                  <option value="skirts">Skirts</option>
                  <option value="jeans">Jeans</option>
                  <option value="pullover">Pullover</option>
                </optgroup>
                <option value="kids">Kids</option>
                <option value="fashion">Fashion</option>
                <optgroup label="Sportwear">
                  <option value="shoes">Shoes</option>
                  <option value="bags">Bags</option>
                  <option value="pants">Pants</option>
                  <option value="swimwear">Swimwear</option>
                  <option value="bicycles">Bicycles</option>
                </optgroup>
                <option value="bags">Bags</option>
                <option value="shoes">Shoes</option>
                <option value="hoseholds">HoseHolds</option>
                <optgroup label="Technology">
                  <option value="tv">TV</option>
                  <option value="camera">Camera</option>
                  <option value="speakers">Speakers</option>
                  <option value="mobile">Mobile</option>
                  <option value="pc">PC</option>
                </optgroup>
              </select>
            </div>
            <!-- end col -->
            <div class="col-sm-3">
              <input type="submit" class="btn btn-default btn-block btn-lg" value="Recherche">
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </form>
      </div>
      <!-- end col -->
      <div class="col-sm-2 vertical-align header-items hidden-xs">
        <div class="header-item mr-5">
          <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wishlist"> <i class="fa fa-users"></i> </a>
        </div>

      </div>
      <!-- end col -->
    </div>
    <!-- end  row -->
  </div>
</div>