

<div class="container">
    <div class="row">
        <div class="col-md-4 wrp-product-2"><img src="assets/images/scha.jpg" alt="Lorem Ipsum"/>
            <div class="add-to-cart"> <i class="ion-android-add"></i><span>Visualiser</span></div>
            <div class="wrp-row">
                <h3>FA</h3>
                <p>Achetez Fa - Shampooing - Douche - Extreme Cool - Flacon 250 ml - Lot de 6: Amazon.fr ✓ Livraison & retours gratuits possibles</p>

            </div><a href="#"></a>
        </div>
        <div class="col-md-4 wrp-product-2"><img src="assets/images/generic_v.jpg" alt="Lorem Ipsum"/>
            <div class="add-to-cart"> <i class="ion-android-add"></i><span>Visualiser</span></div>
            <div class="wrp-row">
                <h3>ZARA</h3>
                <p>Tendances vêtements Femme, Homme et Enfants sur la boutique ZARA en ligne. Nouveautés, Mode, Collections et Lookbooks chaque semaine. </p>

            </div><a href="#"></a>
        </div>
        <div class="col-md-4 wrp-product-2"><img src="assets/images/generic_v4.jpg" alt="Lorem Ipsum"/>
            <div class="add-to-cart"> <i class="ion-android-add"></i><span>Visualiser</span></div>
            <div class="wrp-row">
                <h3>UKT</h3>
                <p>Retrouves toutes les Collections et Accessoires Ünkut by Booba !
                    Livraison Gratuite · Livraison 48h · Site Ünkut Officiel · Paiement 100% Sécurisé </p>

            </div><a href="#"></a>
        </div>
    </div>
</div>
